/* Tela Grande */
@media (min-width: 768px){
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}

}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 10px;
    font-weight: 600;
    
}
.abc-titulo-panel {
	padding-top: 10px;
	font-weight: 600;
}

.wag-exp-button {
	float: left;
	font-weight: 900;
}