<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

	<section layout:fragment="conteudo">

	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>
						Não é preciso ser um cientista da <b>Nasa</b>
					</h1>
					<h2>É necessário um Designer</h2>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- headerwrap -->


	<div class="container w">
		<div class="row centered">
			<br/>
			<br/>
			<div class="col-lg-4">
				<i class="fa fa-heart"></i>
				<h4>DESIGN</h4>
				<p>There are many variations of passages of Lorem Ipsum
					available, but the majority have suffered alteration in some form,
					by injected humour, or randomised words which don't look even
					believable.</p>
			</div>
			<!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-laptop"></i>
				<h4>BOOTSTRAP</h4>
				<p>There are many variations of passages of Lorem Ipsum
					available, but the majority have suffered alteration in some form,
					by injected humour, or randomised words which don't look even
					believable.</p>
			</div>
			<!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-trophy"></i>
				<h4>SUPPORT</h4>
				<p>There are many variations of passages of Lorem Ipsum
					available, but the majority have suffered alteration in some form,
					by injected humour, or randomised words which don't look even
					believable.</p>
			</div>
			<!-- col-lg-4 -->
		</div>
		<!-- row -->
		<br/> <br/>
	</div>
	<!-- container -->


	<!-- PORTFOLIO SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>LATEST WORKS</h4>
				<br/>
				<div class="col-lg-4">
					<div class="tilt">
						<a href="#"><img src="/img/p01.png" alt=""/></a>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="tilt">
						<a href="#"><img src="/img/p03.png" alt=""/></a>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="tilt">
						<a href="#"><img src="/img/p02.png" alt=""/></a>
					</div>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- DG -->

	<div id="lg">
		<div class="container">
			<div class="row centered">
				<h4>OUR AWESOME CLIENTS</h4>
				<div class="col-lg-2 col-lg-offset-1">
					<img src="/img/c01.gif" alt=""/>
				</div>
				<div class="col-lg-2">
					<img src="/img/c02.gif" alt=""/>
				</div>
				<div class="col-lg-2">
					<img src="/img/c03.gif" alt=""/>
				</div>
				<div class="col-lg-2">
					<img src="/img/c04.gif" alt=""/>
				</div>
				<div class="col-lg-2">
					<img src="/img/c05.gif" alt=""/>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- dg -->


	
	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="https://twitter.com/wagnersalamanca" TARGET="_blank"><i
					class="fa fa-twitter"></i></a><a
					href="https://facebook.com/wagner.salamancacisternas"
					TARGET="_blank"><i class="fa fa-facebook"></i></a><a href="#"><i
					class="fa fa-dribbble"></i></a>

			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- Footer -->

	</section>
</html>